.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    background: white;
    border-radius: 30px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 15px gray;
}

.item-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
}

.item-name{
    font-size: 15px;

}

.checkbox{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.close-button{
    margin: 10px;
    padding: 6px 15px;
    border: 2px solid #84f0c0;
    border-radius: 20px;
    background: white;
    color: #ddd;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.update-button{
    margin: 10px;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(95deg, #84fab0, #8fd3f4);
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.button-area{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.modal h2 {
    margin-bottom: 40px;
    font-size: 24px;
}